<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tisson.dao.inf.BindCardMapper">
    <!--配置一个resultMap 指定返回的类型 -->
    <resultMap id="bindCardList" type="BindCard">
        <result column="cust_Code" property="custCode" />
        <result column="bind_date" property="bindDate" />
        <result column="bind_orderno" property="bindOrderNo" />
        <result column="transacc_name" property="transAccName" />
        <result column="open_phone" property="openPhone" />
        <result column="bind_State" property="bindState" />
        <result column="stat" property="stat" />
    </resultMap>

    <!-- 返回一个list的写法 -->
    <select id="findListByCustCode"  resultMap="bindCardList" >
     <![CDATA[
       select cust_Code,to_char(bind_date,'yyyy-mm-dd hh24:mi:ss') bind_date,bind_orderno,transacc_name,open_phone,bind_State,stat 
       from T_INF_REGBINDCARD where cust_code=#{custcode} order by bind_date desc
		 ]]> 
    </select>
</mapper>
